# PyCitySchools_Challenge

In [167]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to change the path if needed.)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read the School Data and Student Data and store into a Pandas DataFrame
school_data_df = pd.read_csv(school_data_to_load)
student_data_df = pd.read_csv(student_data_to_load)

# Cleaning Student Names and Replacing Substrings in a Python String
# Add each prefix and suffix to remove to a list.
prefixes_suffixes = ["Dr. ", "Mr. ","Ms. ", "Mrs. ", "Miss ", " MD", " DDS", " DVM", " PhD"]

# Iterate through the words in the "prefixes_suffixes" list and replace them with an empty space, "".
for word in prefixes_suffixes:
    student_data_df["student_name"] = student_data_df["student_name"].str.replace(word,"")

# Check names.
student_data_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

## Deliverable 1: Replace the reading and math scores.

### Replace the 9th grade reading and math scores at Thomas High School with NaN.

In [168]:
# Install numpy using conda install numpy or pip install numpy. 
# Step 1. Import numpy as np.
import numpy as np

In [169]:
# Step 2. Use the loc method on the student_data_df to select all the reading scores from the 9th grade at Thomas High School
#and replace them with NaN.
# The loc method is used to retrieve all the columns and rows in a DF where the condition of True is met using comparison
# and logical operators
# 1. Retrieve all rows with "Thomas High School" in school_name with a comparison operator
# 2. Retrieve all rows with "9th" in the grade column using a comparison operator
# 3. Use logical and comparison operators to retrieve all rows with reading_score column for Thomas HS 9th graders
#student_data_df.loc

thomasHS_ninth_reading = student_data_df.loc[(student_data_df["school_name"] == "Thomas High School") & (student_data_df["grade"] =="9th"), ["reading_score"]] = "NaN"

thomasHS_ninth_reading

'NaN'

In [30]:
# Step 3. Refactor the code in Step 2 to replace the math scores with NaN
# Use logical and comparison operators to retrieve all rows with math_score column for Thomas HS 9th graders

thomasHS_ninth_math = student_data_df.loc[(student_data_df["school_name"] == "Thomas High School") 
                                          & (student_data_df["grade"] =="9th"), ["math_score"]] = "NaN"

thomasHS_ninth_math

'NaN'

In [31]:
# Step 4. Check the student data for NaNs 
# The reading and math scores for Thomas HS 9th graders are replaced with NaNs

student_data_df.tail()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
39165,39165,Donna Howard,F,12th,Thomas High School,99,90
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70
39167,39167,Rebecca Tanner,F,9th,Thomas High School,NaN,NaN
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75

## Deliverable 2 : Repeat the school district analysis

### District Summary

In [32]:
# Combine the data into a single dataset
school_data_complete_df = pd.merge(student_data_df, school_data_df, on=["school_name", "school_name"])
#school_data_complete_df.head()

In [33]:
# Calculate the Totals (Schools and Students)
school_count = len(school_data_complete_df["school_name"].unique())
student_count = school_data_complete_df["Student ID"].count()

# Calculate the Total Budget
total_budget = school_data_df["budget"].sum()

In [162]:
# Calculate the Average Scores using the "clean_student_data".
clean_student_data = school_data_complete_df.drop(school_data_complete_df.loc[(school_data_complete_df["grade"] == "9th") 
                                                                              & (school_data_complete_df["school_name"] 
                                                                                 == "Thomas High School")].index)

average_reading_score = clean_student_data["reading_score"].mean()
average_math_score = clean_student_data["math_score"].mean()

In [42]:
# Step 1. Get the number of students that are in ninth grade at Thomas High School
# These students have no grades
thomasHS_ninth_count = student_data_df.loc[(student_data_df["grade"] == "9th") 
                                           & (student_data_df["school_name"] == "Thomas High School"), ["Student ID"]].count()
#thomasHS_ninth_count

# Get the total student count 
student_count = school_data_complete_df["Student ID"].count()

# Step 2. Subtract the number of students that are in ninth grade at Thomas High School from the total student count to get 
# the new total student count
new_total_student_count = student_count - thomasHS_ninth_count
new_total_student_count

Student ID    38709
dtype: int64

In [43]:
# Calculate the passing rates using the "clean_student_data".
passing_math_count = clean_student_data[(clean_student_data["math_score"] >= 70)].count()["student_name"]
passing_reading_count = clean_student_data[(clean_student_data["reading_score"] >= 70)].count()["student_name"]

In [44]:
# Step 3. Calculate the passing percentages with the new total student count.
# Percentage of students passing math
passing_math_percentage = passing_math_count / float(new_total_student_count) * 100
passing_math_percentage

74.76039164018704

In [45]:
# Percentage of students passing reading
passing_reading_percentage = passing_reading_count / float(new_total_student_count) * 100
passing_reading_percentage

85.6596657108166

In [46]:
# Calculate the students who passed both reading and math.
passing_math_reading = clean_student_data[(clean_student_data["math_score"] >= 70) 
                                          & (clean_student_data["reading_score"] >= 70)]

# Calculate the number of students that passed both reading and math.
overall_passing_math_reading = passing_math_reading["student_name"].count()


# Step 4.Calculate the overall passing percentage with new total student count.
overall_passing_percentage = overall_passing_math_reading / float(new_total_student_count) * 100
overall_passing_percentage

64.85571830840374

In [55]:
# Create a DataFrame
district_summary_df = pd.DataFrame(
          [{"Total Schools": school_count, 
          "Total Students": student_count, 
          "Total Budget": total_budget,
          "Average Math Score": average_math_score, 
          "Average Reading Score": average_reading_score,
          "% Passing Math": passing_math_percentage,
          "% Passing Reading": passing_reading_percentage,
          "% Overall Passing": overall_passing_percentage}])



# Format the "Total Students" to have the comma for a thousands separator.
district_summary_df["Total Students"] = district_summary_df["Total Students"].map("{:,}".format)
# Format the "Total Budget" to have the comma for a thousands separator, a decimal separator and a "$".
district_summary_df["Total Budget"] = district_summary_df["Total Budget"].map("${:,.2f}".format)
# Format the columns.
district_summary_df["Average Math Score"] = district_summary_df["Average Math Score"].map("{:.1f}".format)
district_summary_df["Average Reading Score"] = district_summary_df["Average Reading Score"].map("{:.1f}".format)
district_summary_df["% Passing Math"] = district_summary_df["% Passing Math"].map("{:.1f}".format)
district_summary_df["% Passing Reading"] = district_summary_df["% Passing Reading"].map("{:.1f}".format)
district_summary_df["% Overall Passing"] = district_summary_df["% Overall Passing"].map("{:.1f}".format)

# Display the data frame
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.9,81.9,74.8,85.7,64.9

##  School Summary

In [170]:
# Determine the School Type
per_school_types = school_data_df.set_index(["school_name"])["type"]

# Calculate the total student count.
per_school_counts = school_data_complete_df["school_name"].value_counts()

# Calculate the total school budget and per capita spending
per_school_budget = school_data_complete_df.groupby(["school_name"]).mean()["budget"]

# Calculate the per capita spending.
per_school_capita = per_school_budget / per_school_counts

# Calculate the average test scores.
clean_student_data["math_score"] = clean_student_data["math_score"].astype(dtype=int)
per_school_math = clean_student_data.groupby(["school_name"]).mean()["math_score"]

clean_student_data["reading_score"] = clean_student_data["reading_score"].astype(dtype=int)
per_school_reading = clean_student_data.groupby(["school_name"]).mean()["reading_score"]

# Calculate the passing scores by creating a filtered DataFrame.
per_school_passing_math = clean_student_data[(clean_student_data["math_score"] >= 70)]
per_school_passing_reading = clean_student_data[(clean_student_data["reading_score"] >= 70)]

# Calculate the number of students passing math and passing reading by school.
per_school_passing_math = per_school_passing_math.groupby(["school_name"]).count()["student_name"]
per_school_passing_reading = per_school_passing_reading.groupby(["school_name"]).count()["student_name"]

# Calculate the percentage of passing math and reading scores per school.
per_school_passing_math = per_school_passing_math / per_school_counts * 100
per_school_passing_reading = per_school_passing_reading / per_school_counts * 100

# Calculate the students who passed both reading and math.
per_passing_math_reading = clean_student_data[(clean_student_data["reading_score"] >= 70) 
                                                 & (clean_student_data["math_score"] >= 70)]

# Calculate the number of students passing math and passing reading by school.
per_passing_math_reading = per_passing_math_reading.groupby(["school_name"]).count()["student_name"]

# Calculate the percentage of passing math and reading scores per school.
per_overall_passing_percentage = per_passing_math_reading / per_school_counts * 100

In [57]:
# Create the DataFrame
per_school_summary_df = pd.DataFrame({
    "School Type": per_school_types,
    "Total Students": per_school_counts,
    "Total School Budget": per_school_budget,
    "Per Student Budget": per_school_capita,
    "Average Math Score": per_school_math,
    "Average Reading Score": per_school_reading,
    "% Passing Math": per_school_passing_math,
    "% Passing Reading": per_school_passing_reading,
    "% Overall Passing": per_overall_passing_percentage})

In [58]:
# Format the Total School Budget and the Per Student Budget
per_school_summary_df["Total School Budget"] = per_school_summary_df["Total School Budget"].map("${:,.2f}".format)
per_school_summary_df["Per Student Budget"] = per_school_summary_df["Per Student Budget"].map("${:,.2f}".format)

# Display the data frame
per_school_summary_df

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,District,2739,"$1,763,916.00",$644.00,77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,90.599455
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.289752,80.934412,66.752967,80.862999,53.527508
Holden High School,Charter,427,"$248,087.00",$581.00,83.803279,83.814988,92.505855,96.252927,89.227166
Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,65.683922,81.316421,53.513884
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,66.057551,81.222432,53.539172
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,94.594595,95.945946,90.540541
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,66.366592,80.220055,52.988247
Shelton High School,Charter,1761,"$1,056,600.00",$600.00,83.359455,83.725724,93.867121,95.854628,89.892107
Thomas High School,Charter,1174,"$1,043,130.00",$888.53,83.350937,83.896082,93.185690,97.018739,90.630324
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488,93.867718,96.539641,90.582567
Wright High School,Charter,1800,"$1,049,400.00",$583.00,83.682222,83.955000,93.333333,96.611111,90.333333

In [70]:
# Step 5.  Get the number of 10th-12th graders from Thomas High School (THS).
tenth_twelfth_ths_count = clean_student_data.loc[(clean_student_data["school_name"] == "Thomas High School")].count()["Student ID"]

tenth_twelfth_ths_count

1174

In [72]:
# Step 6. Get all the students passing math from THS
passing_math_ths = clean_student_data.loc[(clean_student_data["school_name"] == "Thomas High School") 
                                          & (clean_student_data["math_score"] >= 70)].count()["student_name"]

#passing_math_ths = school_data_complete_df[(school_data_complete_df["math_score"] >= 70) 
                                          #& (student_data_df["school_name"] == "Thomas High School")]


passing_math_ths

1094

In [68]:
# Step 7. Get all the students passing reading from THS
passing_reading_ths = clean_student_data.loc[(clean_student_data["school_name"] == "Thomas High School") 
                                             & (clean_student_data["reading_score"] >= 70)].count()["student_name"]

#passing_reading_ths = school_data_complete_df[(school_data_complete_df["reading_score"] >= 70) 
                                          #& (student_data_df["school_name"] == "Thomas High School")]

passing_reading_ths

1139

In [76]:
# Step 8. Get all the students passing math and reading from THS
passing_math_reading_all_ths = clean_student_data.loc[(clean_student_data["school_name"] == "Thomas High School") 
                                                       & ((clean_student_data["math_score"] >= 70) 
                                                          & (clean_student_data["reading_score"] >= 70))].count()["student_name"]

#passing_math_reading_ths_count = school_data_complete_df.loc[(school_data_complete_df["school_name"] == "Thomas High School") 
                                                       #& ((school_data_complete_df["math_score"] >= 70) 
                                                          #& (school_data_complete_df["reading_score"] >= 70))].count()["student_name"]

passing_math_reading_all_ths

1064

In [171]:
# Step 9. Calculate the percentage of 10th-12th grade students passing math from Thomas High School. 
percent_passing_math_ths = passing_math_ths / float(tenth_twelth_ths_count) * 100

#percent_passing_math_THS

NameError: name 'percent_passing_math_THS' is not defined

In [78]:
# Step 10. Calculate the percentage of 10th-12th grade students passing reading from Thomas High School.
percent_passing_reading_ths = passing_reading_ths / float(tenth_twelth_ths_count) * 100

#percent_passing_reading_THS

In [79]:
# Step 11. Calculate the overall passing percentage of 10th-12th grade from Thomas High School. 
overall_passing_percentage_ths = passing_math_reading_ths_count / float(tenth_twelth_ths_count) * 100

#overall_passing_percentage_THS

In [81]:
# Total students at Thomas High School
ths_total_students = sum(tenth_twelfth_ths_count + thomasHS_ninth_count)
ths_total_students

1635

In [82]:
# Total budget for Thomas High School
total_budget_ths = clean_student_data.loc[(clean_student_data["school_name"] == "Thomas High School")].sum()["budget"]
#total_budget_THS

In [83]:
#ths_per_student_budget =

In [85]:
ths_school_type = "Charter"
#ths_school_type

In [87]:
# Average passing math grade for Thomas High School
average_passing_math_ths = clean_student_data.loc[(clean_student_data["school_name"] == "Thomas High School") 
                                                  & (clean_student_data["math_score"] >= 70)].mean()["math_score"]
average_passing_math_ths

84.44149908592321

In [88]:
# Average passing reading grade for Thomas High School
average_passing_reading_ths = clean_student_data.loc[(clean_student_data["school_name"] == "Thomas High School") 
                                                     & (clean_student_data["reading_score"] >= 70)].mean()["reading_score"]
#average_passing_reading_ths

In [89]:
# Step 12. Replace the passing math percent for Thomas High School in the per_school_summary_df.


# Step 13. Replace the passing reading percentage for Thomas High School in the per_school_summary_df.



# Step 14. Replace the overall passing percentage for Thomas High School in the per_school_summary_df.

In [90]:
# THS_school_summary_df
district_summary_df_ths = pd.DataFrame([{
    "School Type": ths_school_type, 
    "Total Students": ths_total_students, 
    "Total Budget": total_budget_ths,
    #"Per Student Budget": ths_student_budget,
    "Average Math Score": average_passing_reading_ths, 
    "Average Reading Score": average_passing_reading_ths,
    "% Passing Math": percent_passing_math_ths,
    "% Passing Reading": percent_passing_reading_ths,
    "% Overall Passing": overall_passing_percentage_ths}])

# Format the "Total Students" to have the comma for a thousands separator.
#district_summary_df_ths["Total Students"] = district_summary_df_ths["Total Students"].map("{:,}".format)
# Format the "Total Budget" to have the comma for a thousands separator, a decimal separator and a "$".
district_summary_df_ths["Total Budget"] = district_summary_df_ths["Total Budget"].map("${:,.2f}".format)
# Format the columns.


# Display the data frame
district_summary_df_ths

,School Type,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,Charter,1635,"$1,224,634,620.00",84.353819,84.353819,93.18569,97.018739,90.630324

## High and Low Performing Schools

In [91]:
# Sort and show top five schools.
top_schools = per_school_summary_df.sort_values(["% Overall Passing"], ascending=False)
top_schools.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,91.334769
Thomas High School,Charter,1174,"$1,043,130.00",$888.53,83.350937,83.896082,93.185690,97.018739,90.630324
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,90.599455
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488,93.867718,96.539641,90.582567
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,94.594595,95.945946,90.540541

In [92]:
# Sort and show top five schools.
bottom_schools = per_school_summary_df.sort_values(["% Overall Passing"], ascending=True)
bottom_schools.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,66.366592,80.220055,52.988247
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,53.204476
Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,65.683922,81.316421,53.513884
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.289752,80.934412,66.752967,80.862999,53.527508
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,66.057551,81.222432,53.539172

## Math and Reading Scores by Grade

In [93]:
# Create a Series of scores by grade levels using conditionals.
ninth_grade = clean_student_data[(clean_student_data["grade"] == "9th")]

tenth_grade = clean_student_data[(clean_student_data["grade"] == "10th")]

eleventh_grade = clean_student_data[(clean_student_data["grade"] == "11th")]

twelfth_grade = clean_student_data[(clean_student_data["grade"] == "12th")]


# Group each school Series by the school name for the average math score.
ninth_grade_math_scores = ninth_grade.groupby(["school_name"]).mean()["math_score"]

tenth_grade_math_scores = tenth_grade.groupby(["school_name"]).mean()["math_score"]

eleventh_grade_math_scores = eleventh_grade.groupby(["school_name"]).mean()["math_score"]

twelfth_grade_math_scores = twelfth_grade.groupby(["school_name"]).mean()["math_score"]


# Group each school Series by the school name for the average reading score.
ninth_grade_reading_scores = ninth_grade.groupby(["school_name"]).mean()["reading_score"]

tenth_grade_reading_scores = tenth_grade.groupby(["school_name"]).mean()["reading_score"]

eleventh_grade_reading_scores = eleventh_grade.groupby(["school_name"]).mean()["reading_score"]

twelfth_grade_reading_scores = twelfth_grade.groupby(["school_name"]).mean()["reading_score"]

In [94]:
# Combine each Series for average math scores by school into single data frame.
math_scores_by_grade = pd.DataFrame({
    "9th": ninth_grade_math_scores,
    "10th": tenth_grade_math_scores,
    "11th": eleventh_grade_math_scores,
    "12th": twelfth_grade_math_scores})

#math_scores_by_grade.head()

In [95]:
# Combine each Series for average reading scores by school into single data frame.
reading_scores_by_grade = pd.DataFrame({
    "9th": ninth_grade_reading_scores,
    "10th": tenth_grade_reading_scores,
    "11th": eleventh_grade_reading_scores,
    "12th": twelfth_grade_reading_scores})

#reading_scores_by_grade.head()

In [96]:
# Format each grade column.
math_scores_by_grade["9th"] = math_scores_by_grade["9th"].map("{:.1f}".format)

math_scores_by_grade["10th"] = math_scores_by_grade["10th"].map("{:.1f}".format)

math_scores_by_grade["11th"] = math_scores_by_grade["11th"].map("{:.1f}".format)

math_scores_by_grade["12th"] = math_scores_by_grade["12th"].map("{:.1f}".format)

reading_scores_by_grade["9th"] = reading_scores_by_grade["9th"].map("{:,.1f}".format)

reading_scores_by_grade["10th"] = reading_scores_by_grade["10th"].map("{:,.1f}".format)

reading_scores_by_grade["11th"] = reading_scores_by_grade["11th"].map("{:,.1f}".format)

reading_scores_by_grade["12th"] = reading_scores_by_grade["12th"].map("{:,.1f}".format)

# Make sure the columns are in the correct order.
math_scores_by_grade = math_scores_by_grade[
    ["9th", "10th", "11th", "12th"]]

reading_scores_by_grade = reading_scores_by_grade[
    ["9th", "10th", "11th", "12th"]]

In [97]:
# Remove the index.
math_scores_by_grade.index.name = None

# Display the data frame
math_scores_by_grade

                        9th  10th  11th  12th
Bailey High School     77.1  77.0  77.5  76.5
Cabrera High School    83.1  83.2  82.8  83.3
Figueroa High School   76.4  76.5  76.9  77.2
Ford High School       77.4  77.7  76.9  76.2
Griffin High School    82.0  84.2  83.8  83.4
Hernandez High School  77.4  77.3  77.1  77.2
Holden High School     83.8  83.4  85.0  82.9
Huang High School      77.0  75.9  76.4  77.2
Johnson High School    77.2  76.7  77.5  76.9
Pena High School       83.6  83.4  84.3  84.1
Rodriguez High School  76.9  76.6  76.4  77.7
Shelton High School    83.4  82.9  83.4  83.8
Thomas High School      nan  83.1  83.5  83.5
Wilson High School     83.1  83.7  83.2  83.0
Wright High School     83.3  84.0  83.8  83.6

In [98]:
# Remove the index.
reading_scores_by_grade.index.name = None

# Display the data frame
reading_scores_by_grade

                        9th  10th  11th  12th
Bailey High School     81.3  80.9  80.9  80.9
Cabrera High School    83.7  84.3  83.8  84.3
Figueroa High School   81.2  81.4  80.6  81.4
Ford High School       80.6  81.3  80.4  80.7
Griffin High School    83.4  83.7  84.3  84.0
Hernandez High School  80.9  80.7  81.4  80.9
Holden High School     83.7  83.3  83.8  84.7
Huang High School      81.3  81.5  81.4  80.3
Johnson High School    81.3  80.8  80.6  81.2
Pena High School       83.8  83.6  84.3  84.6
Rodriguez High School  81.0  80.6  80.9  80.4
Shelton High School    84.1  83.4  84.4  82.8
Thomas High School      nan  84.3  83.6  83.8
Wilson High School     83.9  84.0  83.8  84.3
Wright High School     83.8  83.8  84.2  84.1

## Scores by School Spending

In [99]:
# Establish the spending bins and group names.
per_school_capita.describe()

# Categorize spending based on the bins.
spending_bins = [0, 585, 630, 645, 675]
per_school_capita.groupby(pd.cut(per_school_capita, spending_bins)).count()

(0, 585]      4
(585, 630]    4
(630, 645]    3
(645, 675]    3
dtype: int64

In [100]:
spending_bins = [0, 585, 630, 645, 675]
group_names = ["<$584", "$585-629", "$630-644", "$645-675"]

In [101]:
per_school_summary_df["Spending Ranges (Per Student)"] = pd.cut(per_school_capita, spending_bins, labels=group_names)
#per_school_summary_df

In [102]:
# Calculate averages for the desired columns. 
spending_math_scores = per_school_summary_df.groupby(["Spending Ranges (Per Student)"]).mean()["Average Math Score"]

spending_reading_scores = per_school_summary_df.groupby(["Spending Ranges (Per Student)"]).mean()["Average Reading Score"]

spending_passing_math = per_school_summary_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Passing Math"]

spending_passing_reading = per_school_summary_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Passing Reading"]

overall_passing_spending = per_school_summary_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Overall Passing"]

overall_passing_spending

Spending Ranges (Per Student)
<$584       90.369459
$585-629    81.418596
$630-644    53.494203
$645-675    53.526855
Name: % Overall Passing, dtype: float64

In [103]:
# Create the DataFrame
spending_summary_df = pd.DataFrame({
    "Average Math Score": spending_math_scores,
    "Average Reading Score": spending_reading_scores,
    "% Passing Math": spending_passing_math,
    "% Passing Reading": spending_passing_reading,
    "% Overall Passing": overall_passing_spending
})
#spending_summary_df

In [104]:
# Format the DataFrame 
spending_summary_df["Average Math Score"] = spending_summary_df["Average Math Score"].map("{:.1f}".format)

spending_summary_df["Average Reading Score"] = spending_summary_df["Average Reading Score"].map("{:.1f}".format)

spending_summary_df["% Passing Math"] = spending_summary_df["% Passing Math"].map("{:.0f}".format)

spending_summary_df["% Passing Reading"] = spending_summary_df["% Passing Reading"].map("{:.0f}".format)

spending_summary_df["% Overall Passing"] = spending_summary_df["% Overall Passing"].map("{:.0f}".format)

spending_summary_df

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Spending Ranges (Per Student),,,,,
<$584,83.5,83.9,93,97,90
$585-629,81.9,83.2,87,93,81
$630-644,76.9,80.9,67,80,53
$645-675,77.0,81.0,66,81,54

## Scores by School Size

In [105]:
# Look at total students for each school
per_school_counts

Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Wilson High School       2283
Cabrera High School      1858
Wright High School       1800
Shelton High School      1761
Griffin High School      1468
Thomas High School       1174
Pena High School          962
Holden High School        427
Name: school_name, dtype: int64

In [106]:
# Determin distribution
per_school_counts.describe()

count      15.000000
mean     2580.600000
std      1448.263384
min       427.000000
25%      1614.500000
50%      2283.000000
75%      3474.000000
max      4976.000000
Name: school_name, dtype: float64

In [107]:
# Establish the bins.
school_size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<999)", "Medium (1000-1999)", "Large (2000-5000)"]

# Categorize spending based on the bins.
per_school_summary_df["School Size"] = pd.cut(per_school_summary_df["Total Students"], school_size_bins, labels=group_names)

#per_school_summary_df["School Size"]

In [108]:
# Calculate averages for the desired columns. 
school_size_math_scores = per_school_summary_df.groupby(["School Size"]).mean()["Average Math Score"]

school_size_reading_scores = per_school_summary_df.groupby(["School Size"]).mean()["Average Reading Score"]

school_size_passing_math = per_school_summary_df.groupby(["School Size"]).mean()["% Passing Math"]

school_size_passing_reading = per_school_summary_df.groupby(["School Size"]).mean()["% Passing Reading"]

school_size_overall_passing = per_school_summary_df.groupby(["School Size"]).mean()["% Overall Passing"]

#school_size_overall_passing

In [109]:
# Assemble into DataFrame. 
school_size_spending_summary_df = pd.DataFrame({
    "Average Math Score": school_size_math_scores,
    "Average Reading Score": school_size_reading_scores,
    "% Passing Math": school_size_passing_math,
    "% Passing Reading": school_size_passing_reading,
    "% Overall Passing": school_size_overall_passing
})
#school_size_spending_summary_df

In [110]:
# Format the DataFrame  
school_size_spending_summary_df["Average Math Score"] = school_size_spending_summary_df["Average Math Score"].map("{:.1f}".format)

school_size_spending_summary_df["Average Reading Score"] = school_size_spending_summary_df["Average Reading Score"].map("{:.1f}".format)

school_size_spending_summary_df["% Passing Math"] = school_size_spending_summary_df["% Passing Math"].map("{:.0f}".format)

school_size_spending_summary_df["% Passing Reading"] = school_size_spending_summary_df["% Passing Reading"].map("{:.0f}".format)

school_size_spending_summary_df["% Overall Passing"] = school_size_spending_summary_df["% Overall Passing"].map("{:.0f}".format)

school_size_spending_summary_df

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Size,,,,,
Small (<999),83.8,83.9,94,96,90
Medium (1000-1999),83.4,83.9,94,97,91
Large (2000-5000),77.7,81.3,70,83,58

## Scores by School Type

In [111]:
# Calculate averages for the desired columns. 
school_type_math_scores = per_school_summary_df.groupby(["School Type"]).mean()["Average Math Score"]

school_type_reading_scores = per_school_summary_df.groupby(["School Type"]).mean()["Average Reading Score"]

school_type_passing_math = per_school_summary_df.groupby(["School Type"]).mean()["% Passing Math"]

school_type_passing_reading = per_school_summary_df.groupby(["School Type"]).mean()["% Passing Reading"]

school_type_overall_passing = per_school_summary_df.groupby(["School Type"]).mean()["% Overall Passing"]

In [112]:
# Assemble into DataFrame. 
scores_school_type_df = pd.DataFrame({
    "Average Math Score": school_type_math_scores,
    "Average Reading Score": school_type_reading_scores,
    "% Passing Math": school_type_passing_math,
    "% Passing Reading": school_type_passing_reading,
    "% Overall Passing": school_type_overall_passing
})
#school_type_overall_passing

In [113]:
# Format the DataFrame 
scores_school_type_df["Average Math Score"] = scores_school_type_df["Average Math Score"].map("{:.1f}".format)

scores_school_type_df["Average Reading Score"] = scores_school_type_df["Average Reading Score"].map("{:.1f}".format)

scores_school_type_df["% Passing Math"] = scores_school_type_df["% Passing Math"].map("{:.0f}".format)

scores_school_type_df["% Passing Reading"] = scores_school_type_df["% Passing Reading"].map("{:.0f}".format)

scores_school_type_df["% Overall Passing"] = scores_school_type_df["% Overall Passing"].map("{:.0f}".format)

scores_school_type_df

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Type,,,,,
Charter,83.5,83.9,94,97,90
District,77.0,81.0,67,81,54

# Module 4 Course Work

In [114]:
# Add the Pandas dependency
import pandas as pd

# Add the OS dependency
# import os

In [115]:
# Declare variables for CSVs
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# If using os.path.join() method:
# school_data_to_load = os.path.join("Resource", "schools_complete.csv")
# studenti_data_to_load = os.path.join("Resources", "students_complete.csv")

In [116]:
# Read the school data file and store it in a Pandas DataFrame
# Each CSV will be read with the Pandas function read_csv()
# Inside the function, add the file to be read
# A FileNotFound error indicates the CSV was not found in the Resources folder
school_data_df = pd.read_csv(school_data_to_load)
school_data_df

    School ID            school_name      type  size   budget
0           0      Huang High School  District  2917  1910635
1           1   Figueroa High School  District  2949  1884411
2           2    Shelton High School   Charter  1761  1056600
3           3  Hernandez High School  District  4635  3022020
4           4    Griffin High School   Charter  1468   917500
5           5     Wilson High School   Charter  2283  1319574
6           6    Cabrera High School   Charter  1858  1081356
7           7     Bailey High School  District  4976  3124928
8           8     Holden High School   Charter   427   248087
9           9       Pena High School   Charter   962   585858
10         10     Wright High School   Charter  1800  1049400
11         11  Rodriguez High School  District  3999  2547363
12         12    Johnson High School  District  4761  3094650
13         13       Ford High School  District  2739  1763916
14         14     Thomas High School   Charter  1635  1043130

In [117]:
# Read the student data file and store it in a Pandas DataFrame
student_data_df = pd.read_csv(student_data_to_load)
student_data_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [118]:
# Determine if there are missing values in the school data
# The output returns the name of columns and number of rows that are not null
# There are no missing values in the schools_complete.csv files
school_data_df.count()

School ID      15
school_name    15
type           15
size           15
budget         15
dtype: int64

In [119]:
# Determine if there are any missing values in the student data
# There are no missing values in any of the columns
student_data_df.count()

Student ID       39170
student_name     39170
gender           39170
grade            39170
school_name      39170
reading_score    39170
math_score       39170
dtype: int64

In [120]:
# Determine if there are any empty rows in the school data
# Every row that is not empty is given the Boolean value "False"
school_data_df.isnull()

    School ID  school_name   type   size  budget
0       False        False  False  False   False
1       False        False  False  False   False
2       False        False  False  False   False
3       False        False  False  False   False
4       False        False  False  False   False
5       False        False  False  False   False
6       False        False  False  False   False
7       False        False  False  False   False
8       False        False  False  False   False
9       False        False  False  False   False
10      False        False  False  False   False
11      False        False  False  False   False
12      False        False  False  False   False
13      False        False  False  False   False
14      False        False  False  False   False

In [121]:
# Determine if there are empty rows in the student data
student_data_df.isnull()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...
39165,False,False,False,False,False,False,False
39166,False,False,False,False,False,False,False
39167,False,False,False,False,False,False,False
39168,False,False,False,False,False,False,False
39169,False,False,False,False,False,False,False

In [122]:
# Determine if there are missing values in the student data
# This will give the total number of empty rows
# Using two or more methods/functions is called "chaining"
student_data_df.isnull().sum()

Student ID       0
student_name     0
gender           0
grade            0
school_name      0
reading_score    0
math_score       0
dtype: int64

In [123]:
# Determine if there are NOT any missing values in the school data
# This will return "True" for rows that are not empty and "False" for rows that are empty
# Returns the opposite output of the isnull() method
school_data_df.notnull()

    School ID  school_name  type  size  budget
0        True         True  True  True    True
1        True         True  True  True    True
2        True         True  True  True    True
3        True         True  True  True    True
4        True         True  True  True    True
5        True         True  True  True    True
6        True         True  True  True    True
7        True         True  True  True    True
8        True         True  True  True    True
9        True         True  True  True    True
10       True         True  True  True    True
11       True         True  True  True    True
12       True         True  True  True    True
13       True         True  True  True    True
14       True         True  True  True    True

In [124]:
# Determine if there are not any missing values in the student data by chaining notnull() and sum()
student_data_df.notnull().sum()

Student ID       39170
student_name     39170
gender           39170
grade            39170
school_name      39170
reading_score    39170
math_score       39170
dtype: int64

In [ ]:
# Determine the data types for the school DataFrame
school_data_df.dtypes

In [ ]:
# Determine data types for the student DataFrame
student_data_df.dtypes

# Based on output, all columns needed for calculations are integers
# Data types for these columns will not need to be changed

In [ ]:
# Add each prefix and suffix to remove to a list
prefixes_suffixes = ["Dr. ", "Mr. ", "Ms. ", "Mrs. ", "Miss ", " MD", " DDS", " DVM", " Phd"]

In [ ]:
# Iterate through the words in prefixes_suffixes and replace them with an empty space, ""
for word in prefixes_suffixes:
    student_data_df["student_name"] = student_data_df["student_name"].str.replace(word,"")
    
student_data_df

In [ ]:
# Combine the data into a single dataset
school_data_complete_df = pd.merge(student_data_df, school_data_df, on=["school_name", "school_name"])
school_data_complete_df.head()

# A new DataFrame was created for the merged DataFrames --> school_data_complete_df
# The new DataFrame was created as a result of merging DF #2 (school_data_df), which is the right DF, into DF #1,
# (student_data_df), which is the left DF.  DFs are referred to as "left" and "right" to reflect the order they appear
# inside the parenthese
# The parameter "on" is used, which is equal to a list of the columns that are identifcal from each DF (school_name)

In [ ]:
# Add the count() method to school_data_complete_df so that it will count all the items in each row for each column 
# that is not null

# Get the total number of students
student_count = school_data_complete_df.count()
student_count

In [ ]:
# To choose any one column and get the student count:
#school_data_complete_df.[column].count()

# school_data_complete_df["Student ID"].count()

# Get the total number of students
student_count = school_data_complete_df["Student ID"].count()
student_count

In [ ]:
# Calculate the total number of schools
# Use school_data_df and assign a variable to one of the columns in the DataFrame
school_count = school_data_df["school_name"].count()
school_count

# This cannot be used on school_data_complete_df because it will give the value 39,170

In [ ]:
# In order to use school_data_complete_df, the unique items in ["school_name"] need to be identified first
# Use unique(), which will return an array of all the unique values in the column

# Calculate the total number of school
school_count_2 = school_data_complete_df["school_name"].unique()
school_count_2

In [ ]:
# Number of schools in school_count_2
len(school_data_complete_df["school_name"].unique())

In [ ]:
# Calculate the total budget
#total_budget = school_data_complete_df["budget"].sum()
#total_budget

# This summed all 39,170 rows

In [ ]:
# Calculate the total budget
total_budget = school_data_df["budget"].sum()
total_budget

In [ ]:
# Calculate the average reading score
average_reading_score = school_data_complete_df["reading_score"].mean()
average_reading_score

In [ ]:
# Calculate the average math score
average_math_score = school_data_complete_df["math_score"].mean()
average_math_score

In [ ]:
# Get the percentage of students who passed math and reading, write code to:
# Determine the passing grade
# Get the number of students who passed math and reading in separate DataFrames
# Calculate the number of students who passed math and reading
# Calculate the percentage of students who passed math and reading

# To get the overall passing percentage:
# Get the number of students who passed both math and readin in a DataFrame
# Calculate the number of students who passed both math and reading
# Calculate the percentage of students who passed both math and reading

In [ ]:
# Determine the passing grade
# Passing is a score of 70
# Get all math and reading scores that are >= 70

passing_math = school_data_complete_df["math_score"] >= 70
passing_math

In [ ]:
passing_reading = school_data_complete_df["reading_score"] >= 70
passing_reading

In [ ]:
# Get the number of students who passed math and reading
# Filter school_data_complete_df for "True" - only students who have a grade >= 70

# Get all the students who are passing math in a new DataFrame
passing_math = school_data_complete_df[school_data_complete_df["math_score"] >= 70]
passing_math.head()

# The output will be a new DataFrame with all the rows that contain students who passed math

In [ ]:
# Get all the students who are passing reading in a new DataFrame
passing_reading = school_data_complete_df[school_data_complete_df["reading_score"] >= 70]
passing_reading.head()

In [ ]:
# Number of students who passed math
passing_math_count = passing_math["student_name"].count()

In [ ]:
# Number of students who passed reading
passing_reading_count = passing_reading["student_name"].count()

In [ ]:
print(passing_math_count)
print(passing_reading_count)

In [ ]:
# Get percentage of students who passed math and reading
# Divide passing_math_count and passing_reading_count by the total number of students, and then multiply by 100
# student_count needs to be converted to a number with a decimal --> float()

# Calculate the percent that passed math
passing_math_percentage = passing_math_count / student_count * 100

# Calculate the percentage that passed reading
passing_reading_percentage = passing_reading_count / student_count * 100

In [ ]:
print(passing_math_percentage)
print(passing_reading_percentage)

In [ ]:
# Calculate overall passing percentage
# Get all students who passed both math and reading and divide by the total number of students

# Calculate the students who passed both math and reading
passing_math_reading = school_data_complete_df[(school_data_complete_df["math_score"] >= 70) & (school_data_complete_df["reading_score"] >= 70)]
passing_math_reading.head()

# Output is a new DataFrame with all the columns that contain students who passed both math and reading

In [ ]:
# Get the total number of students who passed both math and reading
#passing_math_reading["student_name"].count()
# or
#passing_math_reading.student_name.count()

In [ ]:
# Calculate the number of students who passed both math and reading
overall_passing_math_reading_count = passing_math_reading["student_name"].count()
overall_passing_math_reading_count

In [ ]:
# Calculate overall passing percentage
overall_passing_percentage = overall_passing_math_reading_count / student_count * 100
overall_passing_percentage

In [125]:
# Create a district summary DataFrame
# Create a list of dictionaries, where the keys are the column names and the values are the metrics that were calculated
# This is done because the DataFrame has no index and lists have natural indexing

# Adding a list of values with keys to create a new DataFrame
district_summary_df = pd.DataFrame(
          [{"Total Schools": school_count,
          "Total Students": student_count,
          "Total Budget": total_budget,
          "Average Math Score": average_math_score,
          "Average Reading Score": average_reading_score,
          "% Passing Math": passing_math_percentage,
         "% Passing Reading": passing_reading_percentage,
        "% Overall Passing": overall_passing_percentage}])
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428,78.930533,81.855796,74.760392,85.659666,64.855718

In [126]:
# Define a function that calculates the percentage of students that passed both math and reading and prints the passing
# percentage to the output when the function is called
def passing_math_percent(pass_math_count, student_count):
    return pass_math_count / float(student_count) * 100

# Two values were added to the passing_math_percentage function
# "return" is added in front of the calculation for passing the percentage

In [127]:
passing_math_count = 29370
total_student_count = 39170

In [128]:
# Call the function
passing_math_percent(passing_math_count, total_student_count)

74.9808526933878

In [129]:
# Format "Total Students" to have the comma for a thousands separator
district_summary_df["Total Students"] = district_summary_df["Total Students"].map("{:,}".format)

district_summary_df["Total Students"]

0    39,170
Name: Total Students, dtype: object

In [130]:
# Format "Total Budget" to have a comma for a thousands separator, a decimal separator, and a "$"
district_summary_df["Total Budget"] = district_summary_df["Total Budget"].map("${:,.2f}".format)

district_summary_df["Total Budget"]

0    $24,649,428.00
Name: Total Budget, dtype: object

In [131]:
# Format "Average Reading Score" to have one decimal place
district_summary_df["Average Reading Score"] = district_summary_df["Average Reading Score"].map("{:.1f}".format)

district_summary_df["Average Reading Score"]

0    81.9
Name: Average Reading Score, dtype: object

In [132]:
# Format "Average Math Score" to have one decimal place
district_summary_df["Average Math Score"] = district_summary_df["Average Math Score"].map("{:.1f}".format)

district_summary_df["Average Math Score"]

0    78.9
Name: Average Math Score, dtype: object

In [133]:
# Format "% Passing Reading" to the nearest whole number percentage
district_summary_df["% Passing Reading"] = district_summary_df["% Passing Reading"].map("{:.0f}".format)

district_summary_df["% Passing Reading"]

0    86
Name: % Passing Reading, dtype: object

In [134]:
# Format "% Passing Math" to nearest whole number percentage
district_summary_df["% Passing Math"] = district_summary_df["% Passing Math"].map("{:.0f}".format)

district_summary_df["% Passing Math"]

0    75
Name: % Passing Math, dtype: object

In [135]:
# Format "% Overall Passing" to the nearest whole number percentage
district_summary_df["% Overall Passing"] = district_summary_df["% Overall Passing"].map("{:.0f}".format)

district_summary_df["% Overall Passing"]

0    65
Name: % Overall Passing, dtype: object

In [136]:
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.9,81.9,75,86,65

In [137]:
# Reorder columns
#new_column_order = ["column 2", "column 4", "column 1"]

# Assign a new or same DataFrame the new column order
#df = df[new_column_order]

In [138]:
# Make school_name the index for a new DataFrame
# Determine the school type
per_school_types = school_data_df.set_index(["school_name"])["type"]
per_school_types

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [139]:
# Create a new DataFrame by converting this Series into a DataFrame
# Add the per_school_types into a DataFrame for testing
df = pd.DataFrame(per_school_types)
df

# This is the school summary DataFrame

                           type
school_name
Huang High School      District
Figueroa High School   District
Shelton High School     Charter
Hernandez High School  District
Griffin High School     Charter
Wilson High School      Charter
Cabrera High School     Charter
Bailey High School     District
Holden High School      Charter
Pena High School        Charter
Wright High School      Charter
Rodriguez High School  District
Johnson High School    District
Ford High School       District
Thomas High School      Charter

In [149]:
# Add total number of students for each school
# Number of students are in two DataFrames: school_data_df and school_data_complete_df
# Find the one that has school_name as the index

In [150]:
# Calculate the total student count
per_school_counts = school_data_df["size"]
per_school_counts

# This series does not have an index with school_name

0     2917
1     2949
2     1761
3     4635
4     1468
5     2283
6     1858
7     4976
8      427
9      962
10    1800
11    3999
12    4761
13    2739
14    1635
Name: size, dtype: int64

In [151]:
# Calculate the total student count
per_school_counts = school_data_df.set_index(["school_name"])["size"]
per_school_counts

# The set_index() method was used on the school_name column and then the size column
# to display the student count for each school

school_name
Huang High School        2917
Figueroa High School     2949
Shelton High School      1761
Hernandez High School    4635
Griffin High School      1468
Wilson High School       2283
Cabrera High School      1858
Bailey High School       4976
Holden High School        427
Pena High School          962
Wright High School       1800
Rodriguez High School    3999
Johnson High School      4761
Ford High School         2739
Thomas High School       1635
Name: size, dtype: int64

In [152]:
# To get the number of students from school_data_complete_df DataFrame, count the number of times a high school appears
# using value_counts() on the school_name columnn
# value_counts() will return a Series of data with the number of times each school_name appears in a row

# Calculate the total student count
per_school_counts = school_data_complete_df["school_name"].value_counts()
per_school_counts

Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Wilson High School       2283
Cabrera High School      1858
Wright High School       1800
Shelton High School      1761
Thomas High School       1635
Griffin High School      1468
Pena High School          962
Holden High School        427
Name: school_name, dtype: int64

In [153]:
# Find budget per student for each school
# Divide budget for each school by number of students at each school
# Calculate the total school budget
per_school_budget = school_data_df.set_index(["school_name"])["budget"]
per_school_budget

school_name
Huang High School        1910635
Figueroa High School     1884411
Shelton High School      1056600
Hernandez High School    3022020
Griffin High School       917500
Wilson High School       1319574
Cabrera High School      1081356
Bailey High School       3124928
Holden High School        248087
Pena High School          585858
Wright High School       1049400
Rodriguez High School    2547363
Johnson High School      3094650
Ford High School         1763916
Thomas High School       1043130
Name: budget, dtype: int64

In [154]:
# Calculate per capita spending
per_school_capita = per_school_budget / per_school_counts
per_school_capita

Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [155]:
# Get score averages per grade
# Use mean() method
# set_index() method was used previously on school_name column in student_data_df
# Calculate math scores
student_school_math = student_data_df.set_index(["school_name"])["math_score"]
student_school_math

# Unfortunately, school_data_df cannot be used as there aren't any columns containing grades
# Also cannot use set_index() method on school_name column in school_data_df because there are too many occurrences of
# the school_name column

school_name
Huang High School     79
Huang High School     61
Huang High School     60
Huang High School     58
Huang High School     84
                      ..
Thomas High School    90
Thomas High School    70
Thomas High School    84
Thomas High School    90
Thomas High School    75
Name: math_score, Length: 39170, dtype: int64

In [156]:
# Use Pandas groupby() function
# This function will split an object (like a DataFrame), apply math, and combine the results
# Calculate average math scores
per_school_averages = school_data_complete_df.groupby(["school_name"]).mean()
per_school_averages                    

# Output is the average of each column in the school_data_complete_df DataFrame
# Only reading and math scores are needed

                       Student ID  School ID    size     budget
school_name
Bailey High School        20358.5        7.0  4976.0  3124928.0
Cabrera High School       16941.5        6.0  1858.0  1081356.0
Figueroa High School       4391.0        1.0  2949.0  1884411.0
Ford High School          36165.0       13.0  2739.0  1763916.0
Griffin High School       12995.5        4.0  1468.0   917500.0
Hernandez High School      9944.0        3.0  4635.0  3022020.0
Holden High School        23060.0        8.0   427.0   248087.0
Huang High School          1458.0        0.0  2917.0  1910635.0
Johnson High School       32415.0       12.0  4761.0  3094650.0
Pena High School          23754.5        9.0   962.0   585858.0
Rodriguez High School     28035.0       11.0  3999.0  2547363.0
Shelton High School        6746.0        2.0  1761.0  1056600.0
Thomas High School        38352.0       14.0  1635.0  1043130.0
Wilson High School        14871.0        5.0  2283.0  1319574.0
Wright High School        25135.5       10.0  1800.0  1049400.0

In [158]:
# To get the average math and reading scores for each school, add those columns to the end
# Calculate the average test scores
per_school_math = school_data_complete_df.groupby(["school_name"]).mean()["math_score"]
per_school_math

KeyError: 'math_score'

In [159]:
per_school_reading = school_data_complete_df.groupby(["school_name"]).mean()["reading_score"]
per_school_reading

KeyError: 'reading_score'

In [160]:
# Get passing percentages for math and reading for each school, as well as the overall passing percentage for each school
# To get the passing percentage:
# 1. Determine what is the passing grade (>=70)
# 2. Get the number of students who passed math and reading - this was previously determined:
# passing_math = school_data_complete_df[(school_data_complete_df["math_score"] >= 70)]
#passing_reading = school_data_complete_df[(school_data_complete_df["reading_score"] >= 70)]
# 3. Get the students who passed math and passed reading

In [161]:
# Calculate the passing scores by creating a filtered DataFrame
per_school_passing_math = school_data_complete_df[(school_data_complete_df["math_score"] >= 70)]
per_school_passing_math

TypeError: '>=' not supported between instances of 'str' and 'int'

In [ ]:
per_school_passing_reading = school_data_complete_df[(school_data_complete_df["reading_score"] >= 70)]
per_school_passing_reading

In [ ]:
# Create a series that has school_name as the index
# Calculate the number of students passing math and passing reading by school
per_school_passing_math = per_school_passing_math.groupby(["school_name"]).count()["student_name"]
per_school_passing_math

In [ ]:
per_school_passing_reading = per_school_passing_reading.groupby(["school_name"]).count()["student_name"]
per_school_passing_reading

In [ ]:
# Determine percentage of students passing math and reading
# Calculate the percentage of passing math and reading scores per school
per_school_passing_math = per_school_passing_math / per_school_counts * 100
per_school_passing_math

# The output will be a Series where the index is the school name and the column is the percentage of students who passed
# math for each school

In [ ]:
per_school_passing_reading = per_school_passing_reading / per_school_counts * 100
per_school_passing_reading

In [ ]:
# Get the overall passing percentage for all students for each school
# Need to get all students who passed both math and reading and then divide by the total number of students
per_passing_math_reading = school_data_complete_df[(school_data_complete_df["math_score"] >= 70) & (school_data_complete_df["reading_score"] >= 70)]

per_passing_math_reading.head()

In [ ]:
# Get the total number of students from each school who passed both math and reading
# To do this, the index will need to be set to school_name and then get the number of students
per_passing_math_reading = per_passing_math_reading.groupby(["school_name"]).count()["student_name"]

In [ ]:
# Calculate overall passing percentage
per_overall_passing_percentage = per_passing_math_reading / per_school_counts * 100
per_overall_passing_percentage

In [ ]:
# All calculations needed for the school summary are done
# Create a new DataFrame
# Adding a list of values with keys to create a new DataFrame

per_school_summary_df = pd.DataFrame({
             "School Type": per_school_types,
             "Total Students": per_school_counts,
             "Total School Budget": per_school_budget,
             "Per Student Budget": per_school_capita,
             "Average Math Score": per_school_math,
           "Average Reading Score": per_school_reading,
           "% Passing Math": per_school_passing_math,
           "% Passing Reading": per_school_passing_reading,
           "% Overall Passing": per_overall_passing_percentage})

per_school_summary_df.head()

In [ ]:
# Format the Total School Budget and Per Student Budget columns
per_school_summary_df["Total School Budget"] = per_school_summary_df["Total School Budget"].map("${:,.2f}".format)

per_school_summary_df["Per Student Budget"] = per_school_summary_df["Per Student Budget"].map("${:,.2f}".format)

# Display DataFrame
per_school_summary_df.head()

In [ ]:
# Display top five highest-performing schools
top_schools = per_school_summary_df.sort_values(["% Overall Passing"], ascending=False)
top_schools.head()

# This sorts the per_school_summary_df on the % Overall Passing column from highest to lowest

In [ ]:
# Display five lowest-performing schools
bottom_schools = per_school_summary_df.sort_values(["% Overall Passing"], ascending=True)
bottom_schools.head()

In [ ]:
# Create two new DataFrames: one that will display average math scores for each grade and one that will display average
# reading scores for each grade
# These will be grouped by the name of the school
# Index will need to be on the schhol name and average math and reading scores for each grade (9-12)
# Each grade will be a Series of data
# To get each grade as a Series, filter on school_data_complete_df for each grade

In [ ]:
# Create grade level DataFrames
ninth_graders = school_data_complete_df[(school_data_complete_df["grade"] == "9th")]
ninth_graders.head()

In [ ]:
tenth_graders = school_data_complete_df[(school_data_complete_df["grade"] == "10th")]
tenth_graders.head()

In [ ]:
eleventh_graders = school_data_complete_df[(school_data_complete_df["grade"] == "11th")]
eleventh_graders.head()

In [ ]:
twelfth_graders = school_data_complete_df[(school_data_complete_df["grade"] == "12th")]
twelfth_graders.head()

In [ ]:
# Get average math and reading scores for each grade level and school
# School will be the index and averages will be the column
# Use groupby() for school_name column
# Calculate mean math_score and reading_score

In [ ]:
# Get average math score for each school
# Group each school Series by the school name for the average math score
ninth_grade_math_scores = ninth_graders.groupby(["school_name"]).mean()["math_score"]
ninth_grade_math_scores.head()

In [ ]:
tenth_grade_math_scores = tenth_graders.groupby(["school_name"]).mean()["math_score"]
tenth_grade_math_scores.head()

In [ ]:
eleventh_grade_math_scores = eleventh_graders.groupby(["school_name"]).mean()["math_score"]
eleventh_grade_math_scores.head()

In [ ]:
twelfth_grade_math_scores = twelfth_graders.groupby(["school_name"]).mean()["math_score"]
twelfth_grade_math_scores.head()

In [ ]:
# Get average reading scores for each school
ninth_grade_reading_scores = ninth_graders.groupby(["school_name"]).mean()["reading_score"]
ninth_grade_reading_scores.head()

In [ ]:
tenth_grade_reading_scores = tenth_graders.groupby(["school_name"]).mean()["reading_score"]
tenth_grade_reading_scores.head()

In [ ]:
eleventh_grade_reading_scores = eleventh_graders.groupby(["school_name"]).mean()["reading_score"]
eleventh_grade_reading_scores.head()

In [ ]:
twelfth_grade_reading_scores = twelfth_graders.groupby(["school_name"]).mean()["reading_score"]
twelfth_grade_reading_scores.head()

In [ ]:
# Combine average math scores and average reading scores for each grade and add them to a separate DataFrame
# First, add math scores for each grade level to a new DataFrame
# Combine each Series for average math scores by school into a single DataFrame
math_scores_by_grade = pd.DataFrame({
    "9th": ninth_grade_math_scores,
    "10th": tenth_grade_math_scores,
    "11th": eleventh_grade_math_scores,
    "12th": twelfth_grade_math_scores})

math_scores_by_grade.head()

In [ ]:
# Combine each Series for average reading scores by school into a single DataFrame
reading_scores_by_grade = pd.DataFrame({
    "9th": ninth_grade_reading_scores,
    "10th": tenth_grade_reading_scores,
    "11th": eleventh_grade_reading_scores,
    "12th": twelfth_grade_reading_scores})

reading_scores_by_grade.head()

In [ ]:
# Format grade-level averages to one decimal place and remove name of index column
# Format each grade column.
math_scores_by_grade["9th"] = math_scores_by_grade["9th"].map("{:.1f}".format)

math_scores_by_grade["10th"] = math_scores_by_grade["10th"].map("{:.1f}".format)

math_scores_by_grade["11th"] = math_scores_by_grade["11th"].map("{:.1f}".format)

math_scores_by_grade["12th"] = math_scores_by_grade["12th"].map("{:.1f}".format)

# Make sure the columns are in the correct order.
math_scores_by_grade = math_scores_by_grade[
    ["9th", "10th", "11th", "12th"]]

# Remove the index name.
math_scores_by_grade.index.name = None
# Display the DataFrame.
math_scores_by_grade.head()

In [ ]:
# Format each grade column.
reading_scores_by_grade["9th"] = reading_scores_by_grade["9th"].map("{:,.1f}".format)

reading_scores_by_grade["10th"] = reading_scores_by_grade["10th"].map("{:,.1f}".format)

reading_scores_by_grade["11th"] = reading_scores_by_grade["11th"].map("{:,.1f}".format)

reading_scores_by_grade["12th"] = reading_scores_by_grade["12th"].map("{:,.1f}".format)

# Make sure the columns are in the correct order.
reading_scores_by_grade = reading_scores_by_grade[
    ["9th", "10th", "11th", "12th"]]

# Remove the index name.
reading_scores_by_grade.index.name = None
# Display the data frame.
reading_scores_by_grade.head()

In [ ]:
# Determine how school spending per student affects the school's average scores and passing percentages
# Organize data by spending ranges for the schools
# Create four spending bin (ranges) to group the school spending per student
# Create a DataFrame that has average math score, average reading score, and percent overall passing for schools in each
# spending bin
# To create this DataFrame:
# 1. Group schools into four bins that are based on the budget per student
# 2. For each spending range, get the following:
# Average math and reading scores
# Percentage of students passing math and reading
# Overall passing percentage

In [ ]:
# Get the spending ranges
# Determine distribution of spending per student by using the describe() method, which will provide descriptive statistics
# Get descriptive statistics for the per_school_capita
per_school_capita.describe()

# Standard deviation is ~30, so increase each bin by $30
# Only one school is at or below $578, but there are four schools that spend less than $585, so that will be the lowest bin
# Bins will be: $585, $615, $645, and $675

In [ ]:
# Cut the per_school_capita into spending ranges
# Determine how many schools are in each range by grouping the spending bins as the index using groupby() on per_school_capita
spending_bins = [0, 585, 630, 645, 675]
per_school_capita.groupby(pd.cut(per_school_capita, spending_bins)).count()

# 3-4 schools need to be in each bin, so range was adjusted

In [ ]:
# Name each range using a list of string values
# Establish spending bins and group names
spending_bins = [0, 585, 630, 645, 675]
group_names = ["<$584", "$585-629", "$630-644", "$645-675"]

In [ ]:
# Create a new column in the per_school_summary_df, which will be assigned the spending bins from the per_school_capita Series
# To do this, the following is needed:
# Use the cut() function on per_school_capita Series
# Add the bin data to the new column in the per_school_summary_df

In [ ]:
# Categorize spending based on the bins
per_school_summary_df["Spending Ranges (Per Student)"] = pd.cut(per_school_capita, spending_bins, labels=group_names)
per_school_summary_df

# To the loef of the equals sign, a new column called "Spending Ranges (Per Student)" was added to per_school_summary_df
# This colum contains the values specified by the cut() function
# Inside the cut() function, per_school_capita was added, which will be used for "Spending Ranges (Per Student)"
# This data must be a one-dimensional array, like a list or the per_school_capita Series
# Inside the parenthese, the spending_bins were added, as well as the labels for the bins
# Whenever a new column is added to a DataFrame, it becomes the last column

In [ ]:
# Filter per_school_summary_df in order to get average scores as well as percentage of students who passed reading and math
# for each range in spending_bins
# Calculate averages for desired columns
spending_math_scores = per_school_summary_df.groupby(["Spending Ranges (Per Student)"]).mean()["Average Math Score"]
spending_math_scores

In [ ]:
spending_reading_scores = per_school_summary_df.groupby(["Spending Ranges (Per Student)"]).mean()["Average Reading Score"]
spending_reading_scores

In [ ]:
spending_passing_math = per_school_summary_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Passing Math"]
spending_passing_math

In [ ]:
spending_passing_reading = per_school_summary_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Passing Reading"]
spending_passing_reading

In [ ]:
overall_passing_spending = per_school_summary_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Overall Passing"]
overall_passing_spending

In [ ]:
# Create a new DataFrame for the average math and reading scores, average percentage of students who passed math and reading,
# and the overall percentage of passing students
# Create spending summary DataFrame
spending_summary_df = pd.DataFrame({
    "Average Math Score": spending_math_scores,
    "Average Reading Score": spending_reading_scores,
    "% Passing Math": spending_passing_math,
    "% Passing Reading": spending_passing_reading,
    "% Overall Passing": overall_passing_spending})

spending_summary_df

In [ ]:
# Format the DataFrame
spending_summary_df["Average Math Score"] = spending_summary_df["Average Math Score"].map("{:.1f}".format)

spending_summary_df["Average Reading Score"] = spending_summary_df["Average Reading Score"].map("{:.1f}".format)

spending_summary_df["% Passing Math"] = spending_summary_df["% Passing Math"].map("{:.0f}".format)

spending_summary_df["% Passing Reading"] = spending_summary_df["% Passing Reading"].map("{:.0f}".format)

spending_summary_df["% Overall Passing"] = spending_summary_df["% Overall Passing"].map("{:.0f}".format)

spending_summary_df

In [ ]:
# Group scores by school size
# Create three bins: small, medium, and large
# Look at
per_school_counts

# Small = <1000
# Medium = 1000-1999
# Large = 2000-5000

In [ ]:
# Establish school size bins
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [ ]:
# Create a new column in the per_school_summary_df, which will be assigned school size bins
# Use cut() on per_school_summary_df
# Add bin data to a new column in per_school_summary_df
# Categorize spending based on bins
per_school_summary_df["School Size"] = pd.cut(per_school_summary_df["Total Students"], size_bins, labels=group_names)
per_school_summary_df.head()

# A new column called "School Size" was added to per_school_summary_df
# The cut() function was used on per_school_summary_df column "Total Students"
# Student size was grouped in size_bins and given a label

In [ ]:
# Calculate the following based on school sizes: average math and reading scores, average percentage of studets who passed
# math and reading, and the average overall percentage
# Add this data to a new DataFrame to show how school size affects score averages and passing rates

In [ ]:
# Calculate averages for the desired columns.
size_math_scores = per_school_summary_df.groupby(["School Size"]).mean()["Average Math Score"]

size_reading_scores = per_school_summary_df.groupby(["School Size"]).mean()["Average Reading Score"]

size_passing_math = per_school_summary_df.groupby(["School Size"]).mean()["% Passing Math"]

size_passing_reading = per_school_summary_df.groupby(["School Size"]).mean()["% Passing Reading"]

size_overall_passing = per_school_summary_df.groupby(["School Size"]).mean()["% Overall Passing"]

In [ ]:
# Create size_summary DataFrame
size_summary_df = pd.DataFrame({
          "Average Math Score" : size_math_scores,
          "Average Reading Score": size_reading_scores,
          "% Passing Math": size_passing_math,
          "% Passing Reading": size_passing_reading,
          "% Overall Passing": size_overall_passing})

size_summary_df

In [ ]:
# Format size_summary_df
size_summary_df["Average Math Score"] = size_summary_df["Average Math Score"].map("{:.1f}".format)

size_summary_df["Average Reading Score"] = size_summary_df["Average Reading Score"].map("{:.1f}".format)

size_summary_df["% Passing Math"] = size_summary_df["% Passing Math"].map("{:.0f}".format)

size_summary_df["% Passing Reading"] = size_summary_df["% Passing Reading"].map("{:.0f}".format)

size_summary_df["% Overall Passing"] = size_summary_df["% Overall Passing"].map("{:.0f}".format)

size_summary_df

In [ ]:
# Create a DataFrame that groups the same averages and percentages by the type of school - district and charter
# For each type of school, calculate average math and reading scores, math and reading passing percentages, and overall
# passing percentage for each bin

In [ ]:
# Calculate averages for the desired columns.
type_math_scores = per_school_summary_df.groupby(["School Type"]).mean()["Average Math Score"]

type_reading_scores = per_school_summary_df.groupby(["School Type"]).mean()["Average Reading Score"]

type_passing_math = per_school_summary_df.groupby(["School Type"]).mean()["% Passing Math"]

type_passing_reading = per_school_summary_df.groupby(["School Type"]).mean()["% Passing Reading"]

type_overall_passing = per_school_summary_df.groupby(["School Type"]).mean()["% Overall Passing"]

In [ ]:
# Create a new DataFrame called type_summary_df
# It will include average math and reading scores, average percentage of students who passed math and reading, and
# average overall percentage

In [ ]:
type_summary_df = pd.DataFrame({
          "Average Math Score" : type_math_scores,
          "Average Reading Score": type_reading_scores,
          "% Passing Math": type_passing_math,
          "% Passing Reading": type_passing_reading,
          "% Overall Passing": type_overall_passing})

type_summary_df

In [ ]:
# Format type_summary_df
type_summary_df["Average Math Score"] = type_summary_df["Average Math Score"].map("{:.1f}".format)

type_summary_df["Average Reading Score"] = type_summary_df["Average Reading Score"].map("{:.1f}".format)

type_summary_df["% Passing Math"] = type_summary_df["% Passing Math"].map("{:.0f}".format)

type_summary_df["% Passing Reading"] = type_summary_df["% Passing Reading"].map("{:.0f}".format)

type_summary_df["% Overall Passing"] = type_summary_df["% Overall Passing"].map("{:.0f}".format)

type_summary_df